@font-face {
  font-family: Cunia;
  src: url("../Cunia.ttf");
}

:root {
  --primary-color: #2f2fa2;
  --secondary-color: #ffffff;
  --tertiary-color: #f64c72;
}

.App {
  display: grid;
  grid-template-rows: min-content auto;
  grid-template-columns: 250px auto;
  height: 100vh;
  background-color: var(--primary-color);
  scroll-behavior: smooth;
  overflow: hidden;
  overflow-y: hidden;
}

.name {
  margin-left: 3vh;
  font-family: "Cunia";
  font-size: 2vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  color: var(--tertiary-color);
  font-size: 1vw;
  gap: 4em;
  margin: 2.5vh;
}

.blog-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  border-radius: 20px;
  height: 100vh;
  justify-self: center;
  background-color: white;
  color: black;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  gap: 0;
}

.heading {
  color: var(--tertiary-color);
  margin: 0;
  height: fit-content;
  padding: 0;
}

.subtitle {
  display: grid;
  justify-content: center;
  margin-bottom: 2vh;
}

:not(header) > .App {
  background-color: white;
}

.articles {
  background-color: white;
}

.logo {
  margin-right: auto;
}

.title,
.body {
  margin-top: 0;
  color: black;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-size: 1rem;
  text-overflow: ellipsis;
}

.card-area {
  width: 100%;
  display: grid;
  background-size: url("../blue-asbtract-bg.jpg");
  background-size: cover;
}

.card {
  width: 80%;
  justify-self: center;
  background-color: white;
  color: black;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

header {
  width: 100%;
  height: 8vh;
  background-color: var(--primary-color);
  display: flex;
  gap: 1vw;
  justify-content: flex-end;
  padding-top: 1em;
  grid-column: 1/-1;
}

button {
  border-radius: 0.347vw;
  text-transform: uppercase;
  text-align: center;
  font-weight: 800;
  cursor: pointer;
  width: 8vw;
  height: 5vh;
}

.add {
  margin-right: 5vh;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body {
  text-transform: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 2vh;
  opacity: 50%;
}

.title-content {
  font-weight: 400;
  font-size: 3vh;
}

.article-selection {
  display: grid;
  justify-content: center;
}

#button:hover {
  border-radius: 15px;
  color: var(--secondary-color);
  transition: 0.2s ease-in;
}

.title,
.body-content {
  margin-right: auto;
  margin-bottom: 0;
  font-size: 1.5vh;
  text-transform: uppercase;
  color: grey;
  opacity: 70%;
  font-weight: 400;
}

form input,
form textarea {
  margin-bottom: 20px;
  width: 30vw;
  border-bottom-style: groove;
  border-width: 0 0 2px;
  border-color: grey;
  opacity: 50%;
  margin-top: 1vh;
}

form button {
  border: 0;
  background-color: var(--tertiary-color);
  color: white;
}

form textarea {
  max-height: 200px;
  height: auto;
  resize: none;
  overflow: auto;
}

form input:focus,
form textarea:focus {
  opacity: 100%;
  border-image-source: linear-gradient(45deg, #f64c72, #df6c4f);
  background-image: linear-gradient(45deg, #f64c72, #df6c4f);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-image-slice: 1;
  outline: 0;
}

nav,
article {
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 100%;
  padding: 10px;
}

.log-in {
  border-image-source: linear-gradient(45deg, #f64c72, #df6c4f);
  background-image: linear-gradient(45deg, #f64c72, #df6c4f);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-width: 0.2rem;
  border-image-slice: 1;
  margin-right: 2em;
}

nav p:hover {
  text-decoration: underline;
  cursor: pointer;
}

#button {
  color: var(--secondary-color);
  font-size: minmax(0.5em, 0.75em);
  background-image: linear-gradient(45deg, #f64c72, #df6c4f);
  width: 15vw;
  border: 0px;
  border-radius: 0.05em;
}

article .date {
  font-style: italic;
}

article .body {
  white-space: break-spaces;
}

.error {
  background-color: red;
  color: gold;
  padding: 5px;
}

.nxt-pg-div {
  display: flex;
  width: 100%;
  justify-content: center;
}

nav h1 {
  color: var(--tertiary-color);
}

.next-page {
  width: fit-content;
  align-self: center;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
  border: 0;
}

.expand-button {
  display: none;
}

body {
  width: 100%;
}

.card {
  margin-bottom: 2vh;
}

@media screen and (max-width: 925px) {
  header {
    display: flex;
    height: fit-content;
    justify-content: space-evenly;
    padding-bottom: 0.5vh;
  }

  button {
    font-size: 0.5rem;
    width: fit-content;
    height: fit-content;
    text-overflow: ellipsis;
    height: 5vh;
    padding: 0;
    margin: 0vh;
  }

  div.add {
    flex-direction: column;
    justify-self: center;
    margin-top: 0;
  }

  .blog-form {
    grid-column: 1/-1;
  }

  .expand-button {
    display: inline;
    width: fit-content;
    height: 100%;
    border: 0;
    background-color: transparent;
    margin-top: 1vh;
  }

  div.cards {
    width: 0;
  }

  nav,
  article {
    grid-column: 1/-1;
  }

  .card > div {
    width: 80%;
  }

  .card > div > .body {
    text-overflow: ellipsis;
  }

  nav {
    display: none;
    width: 0;
  }

  .add > button {
    height: fit-content;
    padding: 1vh;
  }

  .card {
    box-shadow: 0;
    padding: 0;
  }

  .logo {
    display: none;
  }

  .expand-button nav {
    width: fit-content;
    padding: 0;
  }

  .card {
    text-align: center;
  }
}
